{% extends "base.html" %}

{% block title %}Log In - Rentogram{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Log in or sign up</h2>
    <hr>
    <br>
    <form action="{{ url_for('login') }}" method="POST">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email address" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="********" required>
        </div>

        <button type="submit" class="btn-block">Log In</button>
    </form>

    <div class="demo-credentials">
        <h4>Demo Credentials</h4>
        <p><strong>Admin:</strong> admin@example.com / password123</p>
        <p><strong>Host:</strong> host@example.com / password123</p>
        <p><strong>Guest:</strong> guest@example.com / password123</p>
    </div>
    

</div>
{% endblock %}
